# ignore files without extension, namely executables
*
!/**/
!*.*

# executables, binaries and compilation file
!makefile*
*.o
*.s

#OCaml stuff
*.ml.swp
*.ml.save
\#*#
readme.txt
TODO.txt

# misc
extra_stuff/*
temp/*